In [19]:
import pandas as pd
import numpy as np
from datetime import datetime

In [31]:
sd = pd.read_csv('sales data.csv')
cd = pd.read_csv('customer_details.csv')
products = pd.read_csv('product_details.csv')

In [4]:
print("="*60)
print("DATASET 1: SALES DATA")
print("="*60)
print(f"Shape: {sd.shape}")
print(f"\nColumns:")
print(sd.columns.tolist())
print(f"\nFirst 5 rows:")
print(sd.head())
print(f"\nData types:")
print(sd.dtypes)
print(f"\nMissing values:")
print(sd.isnull().sum())

============================================================
DATASET 1: SALES DATA
============================================================
Shape: (3294, 5)

Columns:
['user id', 'product id', 'Interaction type', 'Time stamp', 'Unnamed: 4']

First 5 rows:
   user id                        product id Interaction type  \
0      1.0  4c69b61db1fc16e7013b43fc926e502d         purchase
1      2.0  66d49bbed043f5be260fa9f7fbff5957             view
2      3.0  2c55cae269aebf53838484b0d7dd931a             like
3      4.0  18018b6bc416dab347b1b7db79994afa             view
4      5.0  e04b990e95bf73bbe6a3fa09785d7cd0             like

        Time stamp  Unnamed: 4
0  10/10/2023 8:00         NaN
1  11/10/2023 8:00         NaN
2  12/10/2023 8:00         NaN
3  13/10/2023 8:00         NaN
4  14/10/2023 8:00         NaN

Data types:
user id             float64
product id           object
Interaction type     object
Time stamp           object
Unnamed: 4          float64
dtype: object

Missing values:
user id              295
product id           295
Interaction type     423
Time stamp           295
Unnamed: 4          3294
dtype: int64

In [5]:
sd.head()

,user id,product id,Interaction type,Time stamp,Unnamed: 4
0,1.0,4c69b61db1fc16e7013b43fc926e502d,purchase,10/10/2023 8:00,NaN
1,2.0,66d49bbed043f5be260fa9f7fbff5957,view,11/10/2023 8:00,NaN
2,3.0,2c55cae269aebf53838484b0d7dd931a,like,12/10/2023 8:00,NaN
3,4.0,18018b6bc416dab347b1b7db79994afa,view,13/10/2023 8:00,NaN
4,5.0,e04b990e95bf73bbe6a3fa09785d7cd0,like,14/10/2023 8:00,NaN

In [6]:
sd.isnull().sum()

user id              295
product id           295
Interaction type     423
Time stamp           295
Unnamed: 4          3294
dtype: int64

In [7]:
sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3294 entries, 0 to 3293
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user id           2999 non-null   float64
 1   product id        2999 non-null   object
 2   Interaction type  2871 non-null   object
 3   Time stamp        2999 non-null   object
 4   Unnamed: 4        0 non-null      float64
dtypes: float64(2), object(3)
memory usage: 128.8+ KB

In [9]:
sd['Interaction type'].value_counts()

Interaction type
like        1145
view         871
purchase     855
Name: count, dtype: int64

In [10]:
missing =sd.isnull().sum()/len(sd) * 100
missing = missing[missing > 0].sort_values(ascending=False)

In [11]:
print(missing)

Unnamed: 4          100.000000
Interaction type     12.841530
user id               8.955677
product id            8.955677
Time stamp            8.955677
dtype: float64

In [12]:
print("="*60)
print("DATASET 2: CUSTOMER DETAILS")
print("="*60)
print(f"Shape: {cd.shape}")
print(f"\nColumns:")
print(cd.columns.tolist())
print(f"\nFirst 5 rows:")
print(cd.head())
print(f"\nData types:")
print(cd.dtypes)
print(f"\nMissing values:")
print(cd.isnull().sum())

============================================================
DATASET 2: CUSTOMER DETAILS
============================================================
Shape: (3900, 18)

Columns:
['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category', 'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season', 'Review Rating', 'Subscription Status', 'Shipping Type', 'Discount Applied', 'Promo Code Used', 'Previous Purchases', 'Payment Method', 'Frequency of Purchases']

First 5 rows:
   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0        Express              Yes             Yes                  14
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

Data types:
Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object

Missing values:
Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [13]:
print("="*60)
print("DATASET 3: PRODUCT DETAILS")
print("="*60)
print(f"Shape: {pd.shape}")
print(f"\nColumns:")
print(pd.columns.tolist())
print(f"\nFirst 5 rows:")
print(pd.head())
print(f"\nData types:")
print(pd.dtypes)
print(f"\nMissing values:")
print(pd.isnull().sum())

============================================================
DATASET 3: PRODUCT DETAILS
============================================================
Shape: (10002, 28)

Columns:
['Uniqe Id', 'Product Name', 'Brand Name', 'Asin', 'Category', 'Upc Ean Code', 'List Price', 'Selling Price', 'Quantity', 'Model Number', 'About Product', 'Product Specification', 'Technical Details', 'Shipping Weight', 'Product Dimensions', 'Image', 'Variants', 'Sku', 'Product Url', 'Stock', 'Product Details', 'Dimensions', 'Color', 'Ingredients', 'Direction To Use', 'Is Amazon Seller', 'Size Quantity Variant', 'Product Description']

First 5 rows:
                           Uniqe Id  \
0  4c69b61db1fc16e7013b43fc926e502d
1  66d49bbed043f5be260fa9f7fbff5957
2  2c55cae269aebf53838484b0d7dd931a
3  18018b6bc416dab347b1b7db79994afa
4  e04b990e95bf73bbe6a3fa09785d7cd0

                                        Product Name  Brand Name  Asin  \
0  DB Longboards CoreFlex Crossbow 41" Bamboo Fib...         NaN   NaN
1  Electronic Snap Circuits Mini Kits Classpack, ...         NaN   NaN
2  3Doodler Create Flexy 3D Printing Filament Ref...         NaN   NaN
3  Guillow Airplane Design Studio with Travel Cas...         NaN   NaN
4                   Woodstock- Collage 500 pc Puzzle         NaN   NaN

                                            Category Upc Ean Code  List Price  \
0  Sports & Outdoors | Outdoor Recreation | Skate...          NaN         NaN
1  Toys & Games | Learning & Education | Science ...          NaN         NaN
2          Toys & Games | Arts & Crafts | Craft Kits          NaN         NaN
3  Toys & Games | Hobbies | Models & Model Kits |...          NaN         NaN
4            Toys & Games | Puzzles | Jigsaw Puzzles          NaN         NaN

  Selling Price  Quantity Model Number  ...  \
0       $237.68       NaN          NaN  ...
1        $99.95       NaN        55324  ...
2        $34.99       NaN          NaN  ...
3        $28.91       NaN          142  ...
4        $17.49       NaN        62151  ...

                                         Product Url Stock Product Details  \
0  https://www.amazon.com/DB-Longboards-CoreFlex-...   NaN             NaN
1  https://www.amazon.com/Electronic-Circuits-Cla...   NaN             NaN
2  https://www.amazon.com/3Doodler-Plastic-Innova...   NaN             NaN
3  https://www.amazon.com/Guillow-Airplane-Design...   NaN             NaN
4  https://www.amazon.com/Woodstock-Collage-500-p...   NaN             NaN

  Dimensions Color Ingredients Direction To Use  Is Amazon Seller  \
0        NaN   NaN         NaN              NaN                 Y
1        NaN   NaN         NaN              NaN                 Y
2        NaN   NaN         NaN              NaN                 Y
3        NaN   NaN         NaN              NaN                 Y
4        NaN   NaN         NaN              NaN                 Y

  Size Quantity Variant  Product Description
0                   NaN                  NaN
1                   NaN                  NaN
2                   NaN                  NaN
3                   NaN                  NaN
4                   NaN                  NaN

[5 rows x 28 columns]

Data types:
Uniqe Id                  object
Product Name              object
Brand Name               float64
Asin                     float64
Category                  object
Upc Ean Code              object
List Price               float64
Selling Price             object
Quantity                 float64
Model Number              object
About Product             object
Product Specification     object
Technical Details         object
Shipping Weight           object
Product Dimensions        object
Image                     object
Variants                  object
Sku                      float64
Product Url               object
Stock                    float64
Product Details          float64
Dimensions               float64
Color                    float64
Ingredients              float64
Direction To Use         float64
Is Amazon Seller          object
Size Quantity Variant    float64
Product Description      float64
dtype: object

Missing values:
Uniqe Id                     0
Product Name                 0
Brand Name               10002
Asin                     10002
Category                   830
Upc Ean Code              9968
List Price               10002
Selling Price              107
Quantity                 10002
Model Number              1772
About Product              273
Product Specification     1632
Technical Details          790
Shipping Weight           1138
Product Dimensions        9523
Image                        0
Variants                  7524
Sku                      10002
Product Url                  0
Stock                    10002
Product Details          10002
Dimensions               10002
Color                    10002
Ingredients              10002
Direction To Use         10002
Is Amazon Seller             0
Size Quantity Variant    10002
Product Description      10002
dtype: int64

In [14]:
# CLEAN SALES DATA

In [15]:
# Drop the completely empty column
sd = sd.drop('Unnamed: 4', axis=1)

In [16]:
# Remove rows with missing values
sd_clean = sd.dropna()

In [17]:
# Filter to purchases only (exclude views and likes)
sd_clean = sd_clean[sd_clean['Interaction type'] == 'purchase']

In [20]:
# Convert timestamp to datetime
sd_clean['Time stamp'] = pd.to_datetime(sd_clean['Time stamp'], format='%d/%m/%Y %H:%M')

In [21]:
# Rename columns
sd_clean.columns = ['user_id', 'product_id', 'interaction_type', 'timestamp']

In [22]:
# Convert user_id to int
sd_clean['user_id'] = sd_clean['user_id'].astype(int)

In [24]:
print(f"Final shape: {sd_clean.shape}")

Final shape: (855, 4)

In [25]:
#CLEAN CUSTOMER DETAILS

In [26]:
# Rename columns (make consistent)
cd.columns = [
    'customer_id', 'age', 'gender', 'item_purchased', 'category',
    'purchase_amount', 'location', 'size', 'color', 'season',
    'review_rating', 'subscription_status', 'shipping_type',
    'discount_applied', 'promo_code_used', 'previous_purchases',
    'payment_method', 'frequency_of_purchases'
]

In [27]:
#CLEAN PRODUCT DETAILS

In [32]:
# Keep only useful columns
useful_columns = [
    'Uniqe Id', 'Product Name', 'Category', 'Selling Price',
    'About Product', 'Product Specification', 'Is Amazon Seller'
]

products_clean = products[useful_columns].copy()

In [33]:
# Rename columns
products_clean.columns = [
    'product_id', 'product_name', 'category', 'selling_price',
    'about_product', 'product_specification', 'is_amazon_seller'
]

In [34]:
# Clean selling price (remove $ and convert to float)
products_clean['selling_price'] = products_clean['selling_price'].str.replace('$', '').str.replace(',', '')
products_clean['selling_price'] = pd.to_numeric(products_clean['selling_price'], errors='coerce')

In [35]:
# Handle missing categories
products_clean['category'] = products_clean['category'].fillna('Unknown')

In [36]:
# Extract main category
products_clean['main_category'] = products_clean['category'].str.split('|').str[0].str.strip()

In [37]:
# Drop rows with missing product_id or product_name
products_clean = products_clean.dropna(subset=['product_id', 'product_name'])

In [39]:
print(f"CLEAN DATASETS:")
print(f"Sales (Purchases only): {sd_clean.shape}")
print(f"Customers: {cd.shape}")
print(f"Products: {products_clean.shape}")

CLEAN DATASETS:
Sales (Purchases only): (855, 4)
Customers: (3900, 18)
Products: (10002, 8)

In [41]:
# Check date range
print(f"TIME PERIOD:")
print(f"Start: {sd_clean['timestamp'].min()}")
print(f"End: {sd_clean['timestamp'].max()}")
print(f"Duration: {(sd_clean['timestamp'].max() - sd_clean['timestamp'].min()).days} days")

TIME PERIOD:
Start: 2022-12-28 10:00:00
End: 2023-12-28 08:00:00
Duration: 364 days

In [42]:
# Save cleaned data
sd_clean.to_csv('sales_data_clean.csv', index=False)
cd.to_csv('customers_clean.csv', index=False)
products_clean.to_csv('products_clean.csv', index=False)